body{
 background: white;
}
form{
	border:1px solid;
	border-color: blue;
	width: 300px;
	border-radius: 5px;
}
.header{
	background: #337ab7;
}
.login{
	background: #5cb85c;
	height: 35px;
	margin-bottom:10px
	colour: #fff;
}
.resetpassword{
	background:#d9534f;
	height: 35px;
	margin-bottom:10px;
	colour: #fff;
}